/* 	black: 2C2C2C   
white: background-color: rgb(245, 249, 247);
*/

input {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	border-radius: 4px;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.login-boxes-visible {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	z-index: 10;
	padding: 40px;
	border-radius: 24px;
	background: #bfd6db;
	box-shadow: 21px 21px 36px #6d7a7d, -21px -21px 36px #ffffff;
	width: 50%;
}

#overlay {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: #000000;
	top: 0px;
	left: 0px;
	opacity: 70%;
}

#overlay-login {
	margin: auto;
	position: absolute;
	z-index: 10;
	top: 5vh;
	left: 10vh;
	background-color: rgb(245, 249, 247);
	width: 80%;
	padding: 20px;
	border-radius: 10px;
}

.flexed {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.title-text {
	font-family: "Licorice", cursive;
	font-size: 5em;
	font-weight: normal;
	margin-left: auto;
}

.login-container {
	width: 100%;
}

.login-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	column-gap: 30vh;
}

button,
input[type="submit"] {
	background-color: #01a2e8;
	margin: auto;
	width: 100%;
	margin-top: 0.5vh;
	border-radius: 4px;
	border: 0px;
	height: 3ch;
	display: block;
}

.hidden {
	display: none;
}

h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	font-family: "Arial", sans-serif;
}

body {
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	background-color: rgb(245, 249, 247);
}

main {
	margin-left: auto;
	margin-right: auto;
}

html {
	width: 100%;
	min-width: 400px;
	height: 100%;
}
