/* 	black: 2C2C2C   
	white: background-color: rgb(245, 249, 247);
*/

header {
	background-color: #2c2c2c;
	color: rgb(245, 249, 247);
}

main {
	display: grid;
	grid-template-areas:
		"heading heading heading heading"
		". leftmid rightmid ."
		". leftbottom rightbottom .";
	row-gap: 20px;
	grid-template-columns: 1fr 3fr 3fr 1fr;
	grid-template-rows: auto auto auto;
	color: #2c2c2c;
	background-color: rgb(245, 249, 247);
}

.heading {
	grid-area: heading;
}

.left-mid > img {
	width: 300px;
	height: 300px;
	display: inline;
}

.left-mid {
	grid-area: leftmid;
}

.right-mid {
	grid-area: rightmid;
}

.left-bottom {
	grid-area: leftbottom;
}

.right-bottom {
	grid-area: rightbottom;
}

.register-box {
	border-radius: 20px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	padding: 10px;
	margin: 10px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Signika Negative", sans-serif;
}

body {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	font-family: "Scope One", serif;
}

html {
	width: 100%;
	height: 100%;
}
