/* This is all for the splash page layout */
/* this is the layout used on the initial loading of screen (centered vert/horiz) */
#splash-layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#splash-search {
	margin: auto;
	height: 100%;
	box-sizing: border-box;
}

#splash-search > span {
	font-family: "Licorice", cursive;
	font-size: 10em;
	/* font-family: 'Zeyada', cursive; */
	z-index: 5;
	display: inline;
}

#splash-search > img {
	position: relative;
	top: -350px;
	left: -80px;
	z-index: -1;
	width: 400px;
	height: 212px;
}

.takeoff-animation {
	animation-name: takeoff;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 250ms;
	animation-timing-function: linear;
}

@keyframes takeoff {
	0% {
		translate(20px);
		left: -77px;
	}
	5% {
		left: -73px;
	}
	15% {
		left: -68px;
	}
	30% {
		left: -55px;
		top: -352px;
	}
	40% {
		left: -30px;
		top: -355px;
	}
	50% {
		left: 0px;
		top: -359px;
	}
	60% {
		left: 60px;
		top: -364px;
	}
	70% {
		left: 120px;
		top: -370px;
	}
	80% {
		left: 200px;
		top: -378px;
	}
	90% {
		left: 300px;
		top: -390px;
	}
	100% {
		left: 1000px;
		top: -400px;
	}
}

@media only screen and (max-width: 600px) {
	#splash-search {
		font-size: 0.5em;
	}

	#splash-search > img {
		/*
		top: -350px;
		left: -80px;
		*/
		top: -200px;
		left: 0px;
		width: 200px;
		height: 106px;
	}
}
