/* 	black: 2C2C2C   
	white: background-color: rgb(245, 249, 247);
*/

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo {
	margin: auto;
	height: 100%;
	box-sizing: border-box;
}

.logo > span {
	font-family: "Licorice", cursive;
	font-size: 10em;
	/* font-family: 'Zeyada', cursive; */
	z-index: 5;
	display: inline;
}

.logo > img {
	position: relative;
	top: -350px;
	left: -80px;
	z-index: -1;
	width: 400px;
	height: 212px;
}

.takeoff-animation {
	animation-name: takeoff;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 250ms;
	animation-timing-function: ease-in;
}

@keyframes takeoff {
	0% {
		left: -77px;
	}
	10% {
		left: -73px;
	}
	20% {
		left: -68px;
	}
	30% {
		left: -55px;
		top: -352px;
	}
	40% {
		left: -30px;
		top: -355px;
	}
	50% {
		left: 0px;
		top: -363px;
	}
	60% {
		left: 60px;
		top: -367px;
	}
	70% {
		left: 120px;
		top: -372px;
	}
	80% {
		left: 200px;
		top: -380px;
	}
	90% {
		left: 300px;
		top: -390px;
	}
	100% {
		left: 1000px;
		top: -400px;
	}
}

input {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	border-radius: 4px;
}

.row {
	display: flex;
	flex-direction: row;
}

.login-boxes-visible {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	z-index: 10;
	padding: 40px;
	border-radius: 24px;
	background: #bfd6db;
	box-shadow: 21px 21px 36px #6d7a7d, -21px -21px 36px #ffffff;
	width: 50%;
}

input[type="submit"] {
	background-color: #01a2e8;
	margin-top: 0.5vh;
	border-radius: 4px;
	border: 0px;
	height: 3ch;
	display: block;
}

.hidden {
	display: none;
}

h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: "Arial", sans-serif;
}

body {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background-color: rgb(245, 249, 247);
}

html {
	width: 100%;
	height: 100%;
}
